---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
    <section class="grid md:grid-cols-2 items-center">
        <div class="bg-[url('/map-2.jpeg')] bg-cover bg-right  aspect-video md:aspect-[1]">

        </div>
        <div class="p-4 md:p-10 flex flex-col flex-wrap gap-2">
            <div class="">
                <h1 class="font-bold text-3xl md:text-5xl lg:text-7xl text-black/90 text-balance" >Contact & Find Us</h1>
                <mark class="text-lg">Please contact us at:</mark>
            </div>
           
            <p><strong>Email:</strong><br>
            <a class="text-sm" href="mailto:sales.reservations@lacasaquecanta.com">sales.reservations@lacasaquecanta.com</a></p>
            <p><strong>Telephone:</strong></p>
            <ul>
                <li>USA: 1 888 523 5050</li>
                <li>Mexico: +52 800 710 9345</li>
                <li>Frontdesk: +52 755 555 7030</li>
                <li>Reservations: +52 755 555 7000</li>
                <li>Sales & reservations: 55 2564 1838</li>
            </ul>
            <p><strong>Business Hours:</strong><br>
            9 AM to 6 PM (CST) – Closed on Sundays</p>
        </div>
    </section>
    <section class="grid border-b border-black/60 md:grid-cols-2 items-center ">
        <div class="p-10  text-center order-2 md:order-1">
        
            <p><strong>Address:</strong><br>
                Camino Escénico at Playa La Ropa S / N,<br>
                La Ropa Beach, 40880<br>
                Zihuatanejo, Guerrero, México
            </p>
    </div>
    <div class="bg-[url('/map-1.jpeg')] bg-cover bg-bottom  aspect-video md:aspect-[2] order-1 md:order-2">

    </div>
    </section>
    
    
</Layout>