---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
    <section class="h-72 bg-center bg-[url('/history.jpeg')] bg-cover ">
    </section>
    <section class="bg-center bg-cover bg-[url('/palm-bg-front.png')] bg-fixed">
        <div class="px-4 grid md:grid-cols-2 py-16 max-w-7xl items-center mx-auto justify-between ">
            <div class="mb-8">
                <h2 class="text-5xl lg:text-7xl text-black/90 text-balance font-bold">Welcome to
                    La Casa que Canta</h2>
                    <mark class="text-xl font-bold">Small Luxury Hotel Boutique
                    </mark>
            </div>
            <div class="text-justify text-base grid gap-4">
                <p>La Casa Que Canta is a small luxury hotel with essence, history and a personality of its own.
                    Located in Zihuatanejo next to the beautiful La Ropa beach, this hotel offers unrivaled panoramic views.</p>
                    
                <p>Built with Adobe bricks, palapas and tropical woods, the unique architecture of La Casa Que Canta is an icon on the Pacific Coast of Mexico. It’s 25 Oceanfront ample suites, spread out among three buildings, all have spacious terraces and 180-degree views overlooking the bay.</p>
                    
                <p>Considered The Most Romantic Hotel by famous magazines, and travelers. The hotel was chosen for a famous Hollywood movie called “When a Man loves a woman”. Since our opening 25 years ago, we are proud to be amongst the best Boutique Hotels of the World. Our pursuit of constant improvement and excellent service has granted us multiple award</p>
            </div>
        </div>
    </section>
    <section class="grid md:grid-cols-2 ">
        <div class="col-span-1 md:aspect-video grid items-end bg-[url('/history.jpeg')] bg-cover bg-center">
			<div class="p-10">
				<h2 class="text-5xl lg:text-7xl text-white text-balance font-bold">
					History</h2>
					
					<div class="py-6">
						<a href="/history" class="bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">Read More</a>
					</div>
			</div>
			
		</div>
        <div class="col-span-1 md:aspect-video grid items-end bg-[url('/team.png')] bg-cover bg-center">
			<div class="p-10">
				<h2 class="text-5xl lg:text-7xl text-white text-balance font-bold">
					Our Team</h2>
					
					<div class="py-6">
						<a href="/team" class="bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">Read More</a>
					</div>
			</div>
			
		</div>
        <div class="col-span-1 md:col-span-2 md:aspect-[16/4] grid items-end bg-[url('/pool-front.jpeg')] bg-cover bg-center">
			<div class="p-10">
				<h2 class="text-5xl lg:text-7xl text-white text-balance font-bold">
					Pools</h2>
					<mark class="text-base md:text-xl font-bold text-white">We offer two pools an outstanding benefit for our guests


					</mark>
					<div class="py-6">
						<a href="/pools" class="bg-black/90 font-semibold uppercase py-3 px-6 text-white hover:bg-black/60">Read More</a>
					</div>
			</div>
			
		</div>
    </section>
</Layout>