---
import Layout from "@layouts/Layout.astro";
const { frontmatter } = Astro.props;
const offers = await Astro.glob('/src/pages/offers/*.md'); // Chemin vers vos fichiers Markdown

---
<Layout title="{frontmatter.title}" >

<section class="">
    <div class="grid grid-cols-1 px-4 md:grid-cols-3 gap-6 max-w-7xl mx-auto py-16">
        <div>
            <h2 class="text-5xl mb-6">Discover our offers</h2>
            <p>La Casa Que Canta is a small luxury hotel with essence, history and a personality of its own. Located in Zihuatanejo next to the beautiful La Ropa beach, this hotel offers unrivaled panoramic views.

            </p>

        </div>
        {offers.slice(0, 5).map((post) => (
        <a href={post.url} class="group relative bg-cover bg-center p-10 aspect-square grid items-end text-white  overflow-hidden">
            <div class="absolute z-10 w-full h-full top-0 bg-gradient-to-br from-transparent to-gray-900 opacity-60"></div>
            <img class=" absolute z-0 w-full h-full top-0 object-cover group-hover:scale-[1.02] transition duration-300 ease-in-out" src={post.frontmatter.imagefront} alt=""/>
            <h3 class="text-5xl z-20 relative">{post.frontmatter.title}</h3>
          </a>
        ))}

    </div>
</section>

</Layout>