<nav class="p-4 z-50 fixed flex justify-between items-center w-full mix-blend-differenceF">
    <div class="flex justify-between items-center ">
        <label class="block  relative z-40 cursor-pointer px-3 py-6" for="mobile-menu">
            <input class="peer hidden" type="checkbox" id="mobile-menu" />
            <div
                class="relative z-50 block h-[2px] rounded-full w-7 bg-white  content-[''] before:absolute before:top-[-0.55rem] before:z-50 before:block before:h-full before:w-full before:bg-white before:transition-all before:duration-200 before:ease-out before:content-[''] after:absolute after:right-0 after:bottom-[-0.55rem] after:block after:h-full after:w-full after:bg-white after:transition-all after:duration-200 after:ease-out after:content-[''] peer-checked:bg-white/0  before:peer-checked:top-0 before:peer-checked:w-full before:peer-checked:rotate-45 before:peer-checked:transform after:peer-checked:bottom-0 after:peer-checked:w-full after:peer-checked:-rotate-45 after:peer-checked:transform after:peer-checked:bg-black before:peer-checked:bg-black peer-checked:right-0"
            >
            </div>
            <div
                class="fixed inset-0 z-40 hidden h-full w-full  backdrop-blur-sm peer-checked:block"
            >
                &nbsp;
            </div>
            <div
                class="fixed  top-0 left-0 z-40 h-full w-5/6 md:w-1/4 -translate-x-full overflow-x-auto overscroll-y-none transition duration-500 peer-checked:translate-x-0"
            >
                <div class="float-right min-h-full w-full bg-white px-6 pt-12 shadow-2xl  bg-[url('/palm-bg-menu.png')] bg-cover">
                    <menu class="flex uppercase flex-col text-2xl space-y-6 py-8 font-medium ">
                        <li class="hover:underline"><a href="/">Home</a></li>
                        <li class="hover:underline"><a href="/la-casa-que-canta">La casa que canta</a></li>
                        <li class="hover:underline"><a href="/accomodations">Accomodations</a></li>
                        <li class="hover:underline"><a href="/activities">Activities</a></li>
                        <li class="hover:underline"><a href="/mar-y-cielo">Mar y Cielo</a></li>
                        <li class="hover:underline"><a href="/contact">Contact and Find Us</a></li>

                    </menu>
                    <menu class="flex uppercase flex-col text-2xl space-y-6 font-medium border-y border-black/40 py-6 ">
                        <li class="hover:underline"><a href="/">Offers</a></li>

                    </menu>
                    <menu class="flex uppercase flex-col text-2xl space-y-6 font-medium  py-8 ">
                        <li class="grid hover:underline"><a href="/">Booking</a><span class="text-base">Best Rate Guarentee</span></li>

                    </menu>
                    
                </div>
            </div>
        </label>
    </div>
    <div>
        <a href="#" class="uppercase py-3 px-6 bg-white/90 font-semibold tracking-widest text-black">Book Now</a>
    </div>
</nav>